<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктів</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Список продуктів</h1>
    <a href="/addProduct" class="btn btn-primary mb-3">Додати продукт</a>
    <table class="table table-striped table-bordered">
        <thead class="table-light">
        <tr>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Кількість на складі</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantityInStock}"></td>
            <td>
                <div class="d-flex justify-content-around">
                    <form th:action="@{/product/{id}(id=${product.id})}" method="get">
                        <button type="submit" class="btn btn-info">Перегляд</button>
                    </form>
                    <form th:action="@{/updateProduct/{id}(id=${product.id})}" method="get">
                        <button type="submit" class="btn btn-warning">Редагувати</button>
                    </form>
                    <form th:action="@{/deleteProduct/{id}(id=${product.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Видалити</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>