<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагування продукту</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container py-5">
    <h1>Редагування продукту</h1>
    <form th:action="@{/updateProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label class="form-label">Назва</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Опис</label>
            <textarea th:field="*{productDescription}" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Країна виробник</label>
            <input type="text" th:field="*{countryOfManufacture}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Цiна</label>
            <input type="text" th:field="*{price}" class="form-control" pattern="^\d+(\.\d{1,2})?$">
        </div>
        <div class="mb-3">
            <label class="form-label">Кількість на складі</label>
            <input type="number" th:field="*{quantityInStock}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Оновити продукт</button>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>