<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детальна інформація про продукт</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container py-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Продукт: <span th:text="${product.name}"></span></h2>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
            <p><strong>Опис:</strong> <span th:text="${product.productDescription}"></span></p>
            <p><strong>Країна виробник:</strong> <span th:text="${product.countryOfManufacture}"></span></p>
            <p><strong>Цiна:</strong> <span th:text="${product.price}"></span></p>
            <p><strong>Кількість на складі:</strong> <span th:text="${product.quantityInStock}"></span></p>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-primary">Назад до списку</a>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>